.details-button2 {
    background-color: black !important;
    color: white !important;
    align-items: center !important;
    margin-left: 60% !important;
    margin-top: 1% !important;
    margin-bottom: 0 !important;
    margin-top: 1% !important;
}


/* 
.details-button2 {
    background-color: black !important;
    color: white !important;
    align-items: center !important;
    margin-left: 30% !important;
    margin-top: 1% !important;
    margin-bottom: 4% !important;  


}  */

.btnBox {
    display: flex !important;
    flex-direction: row;
    width: 100% !important;
}

.details-button1 {
    background-color: black !important;
    color: white !important;
    margin-left: 45% !important;
    margin-top: 1% !important;
    margin-right: 2% !important;
    margin-bottom: 0 !important;
}