.userbody {
    margin-top: 10%!important;
}

.details-button {
    background-color: black !important;
    color: white !important;
    align-items: center !important;
    margin-left: 50% !important;
    margin-top: 1% !important;
    margin-bottom: 4% !important;
}