.body {
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    font-family: 'Sofia Pro', sans-serif;
    cursor: pointer;
    color: white !important;
    position: absolute;
    top: 20px;
    z-index: 999;
    background: none;
    border: 0;
    border-radius: 0;
}