.outcon {
    font-family: 'Sofia Pro', sans-serif;
    margin-left: 20% !important;
    margin-right: 20% !important;
    margin-top: 5% !important;
    margin-bottom: 2% !important;
    padding: 20px;
    background-color: #C4C4C4;
}

.confirmBtn {
    width: 241px;
    /* margin-top: 100px; */
    border: none;
    background-color: #4a4a4a;
    color: #fff;
    padding: 20px 0 20px 0;
    margin-bottom: 12% !important;
    margin-left: 55% !important;
    text-align: center;
    font-family: 'Sofia Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -.3px;
}